:root {
	--accent-color: #f3c915;
	--dark-text: #414042;
}

/*Общие стили*/
*, *::beafore, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "TT norms", sans-serif;

}

.title_ls_mb{
	margin-bottom: 10px !important;
}

.title_rs_mb{
	margin-bottom: 5px !important;
}

.list{
	list-style: none;
}

.list__item{
	font-size: 18px;
	margin-bottom: 20px;
}

.list__item::before{
	content: "-";
	margin-right: 10px;
}
.container{
 	max-width: 1200px;
 	width: 100%; 
 	padding: 0 15px;
 	margin: 0 auto;
 }
 /*Шапка*/
 header{
 	background-color: #f4f4f4;
 	color: var(--dark-text);
 	padding: 35px 0;
 }
.header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header__title{
	color: var(--accent-color);
	font-size: 44px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
}
.header__subtitle{
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-bottom: 30px;

}
.header__address, .header__birthday, .header__jok, 
.header__hub, .header__facebook, .header__gmail{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 3px;
}
.header__date{
	font-size: 18px;
	font-style: italic;
}
.header__leftside{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header__rightside{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.img__hub, .img__facebook, .img__gmail{
	width: 48px;
	height: 48px;
	margin: 5px 5px 0 5px;
}

.about__image{
 	margin-bottom: 110px;
 }

.fullinfo__wrapper{
	display: flex;
}

.fullinfo_leftside{
	width: 40%;
	padding-right: 20px;

}

.fullinfo__rightside{
	width: 60%;

}
/*Информационный блок*/
.infoblock{
	margin-bottom: 55px;
	color: var(--dark-text);
}

.infoblock__title{
	font-size: 22px;
	font-weight: 700;
	background-color: var(--accent-color);
	padding: 15px 35px;
	display: inline-block;
	margin-bottom: 30px;
}

.infoblock__text{
	font-size: 18px;
	font-weight: 400;
	line-height: 1.55;
}